port {{ openvpn_port }}
proto {{ openvpn_protocol }}
dev tun

ca {{ openvpn_dir }}/server/ca.crt
cert {{ openvpn_dir }}/server/server.crt
key {{ openvpn_dir }}/server/server.key
dh {{ openvpn_dir }}/server/dh.pem
crl-verify {{ openvpn_dir }}/server/crl.pem

tls-auth {{ openvpn_dir }}/server/ta.key
cipher AES-256-CBC
auth SHA512

server 10.8.0.0 {{ openvpn_netmask }}
ifconfig-pool-persist ipp.txt
push "redirect-gateway def1 bypass-dhcp"
push "dhcp-option DNS 1.0.0.1"
push "dhcp-option DNS 1.1.1.1"
push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"

keepalive 10 120
persist-key
persist-tun

user nobody
group nogroup

status /var/log/openvpn/openvpn-status.log
log         /var/log/openvpn/openvpn.log
log-append  /var/log/openvpn/openvpn.log
verb 3